data/.gitignore
data/data1/
data/data2/
data/data3/

__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

.ipynb_checkpoints/

*.log
*.out

*.dvc
.dvc/tmp/
.dvc/cache/
.dvc/plots/
.dvc/lock
.dvc/config.local

dvc-sa.json
.secrets/

weights/
outputs/

.env
.venv/
venv/
ENV/
env/
pip-log.txt

.vscode/
.colab/

.DS_Store
Thumbs.db