data/.gitignore
data/data1/
data/data2/
data/data3/

__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

.ipynb_checkpoints/

*.out


.dvc/tmp/
.dvc/cache/
.dvc/plots/
.dvc/lock
.dvc/config.local

dvc-sa.json
.secrets/


.env
.venv/
venv/
ENV/
env/
pip-log.txt

.vscode/
.colab/

*.log
lightning_logs/


weights/
!weights/*.dvc

outputs/
!outputs/*.dvc


.DS_Store
Thumbs.db